* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.bx {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.box {
    background-color: rgb(241, 13, 219);

}

.box1 {
    height: 200px;
    width: 200px;
    background-color: rgb(1, 61, 61);
    border-radius: 50%;

}